.likes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

    span {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        gap: 10%;
    }
}
.like {
    fill:grey;
    height:30px;
    width:30px;
    transition: 0.1s;
}
.dis {
    transform: scale(-1,1);
    rotate: 180deg;
    fill:grey;
    height:30px;
    width: 30px;
}

.green {
    fill:green;
    transition: 0.1s;
}
.red {
    fill:red;
    transition: 0.1s;
}